<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- MemberMapper.java 연결  (인터페이스)-->
<mapper namespace="com.java.www.mapper.UsedMapper">

	<!-- 게시글 trade1 가져오기 -->
	<select id="selectAll" resultType="com.java.www.dto.UsedDto">
	select * from(
	select row_number() over(order by u_bno desc)rnum, a.*from u_board a where u_btype = 'trade1') 
	where rnum between ${startRow} and ${endRow}
	</select>
	
	<!-- trade1 게시글 총 갯수  -->
	<select id="selectCountAll" resultType="int">
		select count(*) from u_board where u_btype='trade1'
	</select>
	
	<!-- transfer2 게시글 총 갯수 -->
	<select id="selectCountAll2" resultType="int">
		select count(*) from u_board where u_btype='transfer2'
	</select>

	
	<!-- 게시글 transfer2 가져오기 -->
	<select id="selectAll2" resultType="com.java.www.dto.UsedDto">
	select * from(
	select row_number() over(order by u_bno desc)rnum, a.*from u_board a where u_btype = 'transfer2') 
	where rnum between ${startRow} and ${endRow}
	</select>
	
	<!-- 게시글 trade1 거래가능 가져오기 -->
	<select id="selectPossible" resultType="com.java.www.dto.UsedDto">
		select * from(
		select row_number() over(order by u_bno desc)rnum, a.* from u_board a where u_bstatus=#{u_bstatus} and u_btype = 'trade1')
		where rnum between 1 and 8
	</select>
	
	<!-- 게시글 transfer2 거래가능 가져오기 -->
	<select id="selectPossible2" resultType="com.java.www.dto.UsedDto">
		select * from(
		select row_number() over(order by u_bno desc)rnum, a.* from u_board a where u_bstatus=#{u_bstatus} and u_btype = 'transfer2')
		where rnum between 1 and 8
	</select>
	
	<select id="selectOne" resultType="com.java.www.dto.UsedDto">
		select * from u_board where u_bno=#{u_bno}
	</select>
	
	<insert id="usedWrite">
		insert into u_board values(u_board_seq.nextval,#{id},#{u_btype},#{u_btitle},#{u_bcontent},#{u_bprice},#{u_blocal},sysdate,0,0,#{u_bfile})
	</insert>
	
	
	
	
	
	







</mapper>

