@charset "UTF-8";

#bType{
	height: 40px;
	width: 110px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid #009223;
	border-radius: 10px;
}

textarea{
	width: 100%;
	
}

#f_btitle{
	width: 100%;
}
#t_btitle{
	width: 100%;
}
#n_btitle{
	margin-left:10px;
	width: 93%;
}

#p_bType{
	height: 40px;
	width: 110px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid #BDBDBD;
	border-radius: 10px;
}

#p_bcontent{
	width: 1220px;
	border: 2px solid #BDBDBD;
}

#p_btitle{
	width: 900px;
	margin-left: -40px; 
	border: none;
}

.file-preview-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
}

.file-preview-item {
    width: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-preview-img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.file-input-container {
    display: flex;
    align-items: center;
}

#n_bfile {
    margin-right: 5px;
}

